[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
wave = "*"
scipy = "*"
keras = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.6"
